@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.hero-unit .hero-content {
  position: absolute;
  top: 35%;
}

.navigation {
  z-index: 100;
  padding-top: 4px;
}
.navigation .nav-container {
  width: 80%;
}

.absolute-nav {
  position: absolute;
  width: 100%;
}
.absolute-nav::after {
  clear: both;
  content: "";
  display: table;
}

a {
  height: 35px;
  margin-top: 5px;
}

.dim {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background: rgba(34, 36, 38, 0.5);
}

.hero-unit {
  background: url("../images/hero-unit.jpg");
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100%;
}
.hero-unit .hero-content {
  width: 100%;
  height: 30%;
  color: white;
}
.hero-unit .title {
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  height: 40px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.hero-unit .search-box .input {
  width: 40%;
}
.hero-unit .action-buttons {
  margin: 10px;
}

.home-footer {
  height: 23%;
  min-height: 100px;
  width: 100%;
  color: white;
  font-size: 15px;
  background-color: rgba(35, 35, 35, 0.9);
  position: absolute;
  bottom: 0px;
  text-align: center;
  padding: 2% 10% 1%;
}
.home-footer .social-icons a {
  color: white;
}
.home-footer .social-icons a:visited {
  color: white;
}
.home-footer .social-icons a:hover {
  color: #3498db;
}

.dashboard-container {
  width: 85%;
  margin: 25px auto;
}

.dash-add-school {
  padding: 10px;
}

.class-profile-error {
  color: brown;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 40%;
  width: 300px;
}

.actions {
  font-size: 1.5em;
}
.actions .action-group {
  float: right;
}
.actions i {
  padding: 2px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.actions i:hover {
  transform: scale(1.2);
  animation: transformation;
  animation-duration: 0.3s;
}

@keyframes transformation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.essay {
  margin: 15px 10px 30px;
  height: 300px;
}
.essay .body {
  height: 250px;
  border: 1px solid lightgray;
  position: relative;
}
.essay .body .word-count {
  position: absolute;
  bottom: -25px;
}
.essay .required {
  font-size: 22px;
  color: red;
}
.essay .subtitle {
  color: grey;
  font-size: 12px;
}
.essay .advanced-wrapper {
  height: 200px;
}
.essay .editor-container {
  border-top: 1px solid lightgray;
}
.essay .action-area {
  margin: 10px;
  float: right;
}
.essay .clear-fix {
  clear: both;
}

.vis-hidden {
  visibility: hidden !important;
}

.dialogContainer {
  width: 700px !important;
}

.ngdialog.dialogwidth640 .ngdialog-content {
  width: 640px !important;
}

.deadlines-container {
  width: 85%;
  margin: 25px auto;
}
.deadlines-container table th {
  cursor: pointer !important;
}

.search-filter {
  float: right;
  margin-left: 10px;
  width: 160px;
}

.customHeader {
  border-bottom: none !important;
}

.red {
  color: red !important;
}

.green {
  color: greenyellow !important;
}

.rankings-container {
  width: 85%;
  margin: 25px auto;
}
.rankings-container table th {
  cursor: pointer !important;
}

.login-container {
  width: 25%;
  margin: 7% auto;
}
.login-container .content {
  font-family: "Roboto Slab", serif;
}

.sign-up-container {
  width: 60%;
  margin: 3% auto;
}
.sign-up-container .content {
  font-family: "Roboto Slab", serif;
}
.sign-up-container form {
  padding: 10px;
}
.sign-up-container .step {
  cursor: pointer;
}
.sign-up-container .step-2-row {
  display: block;
}
.sign-up-container .step-2-row::after {
  clear: both;
  content: "";
  display: table;
}
.sign-up-container .step-2-row .step-2-links {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
.sign-up-container .step-2-row .step-2-links:last-child {
  margin-right: 0;
}
.sign-up-container .step-2-row .step-2-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
}
.sign-up-container .step-2-row .step-2-content:last-child {
  margin-right: 0;
}
.sign-up-container .su-submit {
  margin-top: 10px;
  float: right;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 3px;
  position: fixed;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right;
  clear: right;
}

.alert-red {
  color: white;
  background-color: #DA4453;
}

.alert-green {
  color: white;
  background-color: #37BC9B;
}

.alert-blue {
  color: white;
  background-color: #4A89DC;
}

.alert-yellow {
  color: white;
  background-color: #F6BB42;
}

.alert-orange {
  color: white;
  font-weight: bold;
  background-color: #E9573F;
}

.add-essay {
  margin: 0 0 13px 45% !important;
  padding: 5px 15px 12px !important;
  font-size: 30px !important;
}

.admin-login-container {
  width: 25%;
  margin: 5% auto;
}

.admin-dash-container {
  width: 82%;
  margin: 25px auto;
}

.label-help {
  color: grey;
  cursor: pointer;
  font-size: 20px !important;
}

.three.wide.field.essay-req-field {
  margin-top: 28px;
  margin-left: 25px;
}

.profile-container {
  width: 85%;
  margin: 25px auto;
}
.profile-container .profile-actions {
  float: right;
}

.clear-fix {
  clear: both;
}

#ui-datepicker-div {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
}
#ui-datepicker-div .ui-widget-header {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
#ui-datepicker-div .ui-widget-header a span {
  border: 1px solid lightslategray;
  padding: 5px 18px;
  border-radius: 5px;
  cursor: pointer;
}
#ui-datepicker-div .ui-widget-header .ui-datepicker-title {
  padding: 5px 0;
  text-align: center;
}
#ui-datepicker-div .ui-widget-header .ui-datepicker-prev {
  float: left;
}
#ui-datepicker-div .ui-widget-header .ui-datepicker-next {
  float: right;
}
#ui-datepicker-div table thead {
  border-bottom: 2px solid lightgrey;
}
#ui-datepicker-div table tbody {
  border-bottom: 1px solid lightgrey;
}
#ui-datepicker-div .ui-datepicker-calendar {
  margin: 13px;
}
#ui-datepicker-div .ui-datepicker-calendar th, #ui-datepicker-div .ui-datepicker-calendar td {
  padding: 10px;
}
#ui-datepicker-div .ui-timepicker-div {
  padding: 0 17px;
}
#ui-datepicker-div .ui-datepicker-buttonpane {
  float: right;
}
#ui-datepicker-div .ui-datepicker-buttonpane button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2;
  color: rgba(0, 0, 0, 0.6);
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0 .5em .5em 0;
  padding: .78571429em 1.5em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  -webkit-user-select: none;
}
#ui-datepicker-div .ui-state-active {
  color: white;
  background-color: #4183c4;
  padding: 5px;
  border-radius: 5px;
}

section.tzPickerSection {
  position: absolute;
  top: 78px;
  z-index: 2;
  right: 9%;
}
section.tzPickerSection .ui.selection.dropdown {
  width: 320px !important;
}
