@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

/* GENERIC STYLES */
h1, h2, h3, h4 {
    font-family: 'Roboto Slab';
}

body {
    font-family: 'Roboto Slab';
    margin-left: 5%;
    margin-bottom: 5%;
}

/* LINKS */
a {
    font-family: 'Roboto Slab';
    text-decoration: none;
    color: black;
    padding-bottom: 1px;
    margin-left: 1px;
}

a:hover {
    color: #2980b9;
    border-bottom: 1px solid #2980b9;
}

span {
    font-family: 'Roboto Slab';
}

/* HEADER AND TITLE */
#name {
    margin-bottom: 1%;
    margin-top: 5%;
    font-size: 3em;
}

#profile-links {
    text-align: left;
    font-size: 1.5em;
    padding: 0 0 25px 0;
    width: 350px;
    border-bottom: 1px dotted black;
}
#contact {
    padding: 20px 0 25px 0;
}

#contact span {
    font-weight: bold;
    color:#34495e;
}
#profile-links a {
    margin-top: 2px;
}

/* TECHNOLOGIES */
#Experiences b{
    font-style: italic;
    color: #34495e;
    margin-right: 10px;
}

/* TABLE */
table, th, td {
    border: none;
}

.separator {
    font-size: 0.5em;
    margin: 0 4px 0 4px;
}